﻿body {
font-family: times, Times New Roman, times-roman, georgia, serif;
//   background:url(./bg.png) repeat;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}


td { vertical-align: top; }

table {font-size:12px;color:#333333;width:auto;border-width: 1px;border-color: #729ea5;margin-left:auto; 
    margin-right:auto;}

table th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}

table tr {background-color:#ffffff;}

table td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}

h1 {
font-family: times, Times New Roman, times-roman, georgia, serif;
color: #000000;
font-weight:bold;
font-size: 38px;
text-align:center;
margin-top: 5px;
margin-bottom: 5px;
}

h2 {
font-family: times, Times New Roman, times-roman, georgia, serif;
		font-size: 24px;
		line-height: 30px;
		letter-spacing: -1px;color: #444;
text-align:center;
margin-top: 5px;
margin-bottom: 5px;
}

.stock {
font-family: times, Times New Roman, times-roman, georgia, serif;
		font-size: 18px;
		line-height: 20px;
		text-transform: uppercase;
		color: #444;
}


form table {border-width: 1px;border-color: #729ea5;margin-left:auto; 
    margin-right:auto;}

form .fld-label {
		font-size: 14px;
font-weight:bold;
	
}






.btn {
	cursor:hand;
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
	text-indent:0px;
	border:1px solid #eeb44f;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:168px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cc9f52;
}
.btn:hover {
	cursor:hand;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.btn:active {
	cursor:hand;
	position:relative;
	top:1px;
}


 #loading-div-background 
    {
        display:none;
        position:fixed;
        top:0;
        left:0;
        background:white;
	opacity: 0.9;
        width:100%;
        height:100%;
     }

   #loading-div
    {
         width: 300px;
         height: 200px;
         background-color: #FFFFF;
         text-align:center;
         position:absolute;
         left: 50%;
         top: 50%;
         margin-left:-150px;
         margin-top: -100px;
     }
